name: taxi_app
description: A TaxiApp Simulation
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_maps_flutter: ^2.2.6
  geolocator: ^9.0.2  


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0